body {
  width: 70%;
  max-width: 1920px;
  min-width: 1100px;
  margin: auto;
}

.boxes {
  display: inline-block;
  width: 50%;
  height: 600px;
  float: left;
}

.button_boxes {
  margin-top: 100px;
  width: 100%;
}

.sub_button_boxes {
  display: inline-block;
  width: 100%;
}

.bottom {
  text-align: center;
  float: left;
  width: 600px;
}

input, button {
  text-align: center;
  border-radius: 0;
}

input {
  width: 500px;
}

button {
  width: 505px;
}

#button_start {
  margin: auto;
  height: 4em;
}

#target {
  letter-spacing: 2px;
  font-size: 4em;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

.play {
  background-color: rgba(130,130,130,0.1);
  padding: 40px 0 40px 0;
}

.config {
  background-color: rgba(130,130,130,0.2);
  padding: 40px 0 40px 0;
}

.play, .config {
  text-align: center;
}
